.App {
  text-align: center;
  background-color: #2e2e2e; /* Gray background */
  color: #ffffff; /* White text */
  min-height: 100vh;
  font-family: 'Orbitron', sans-serif;
}

.App-header {
  background-color: #3a3a3a; /* Dark gray background */
  padding: 20px;
  color: #ffffff; /* White text */
  border-bottom: 2px solid #ffffff; /* White border */
}

h1 {
  font-size: 3em;
  margin: 0;
  color: #ffffff; /* White text */
  text-shadow: 0 0 10px #ffffff; /* White glow effect */
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.left-side,
.right-side {
  flex: 1;
  margin: 10px;
  background-color: #3a3a3a; /* Dark gray background */
  padding: 20px;
  border: 2px solid #ffffff; /* White border */
  box-shadow: 0 0 20px #ffffff; /* White glow effect */
  display: flex;
  flex-direction: column;
}

.data-box {
  margin-bottom: 20px;
}

.data-box h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffffff; /* White text */
  text-shadow: 0 0 5px #ffffff; /* White glow effect */
}

.data-box p {
  font-size: 1em;
  margin: 5px 0;
  color: #ffffff; /* White text */
}

.price {
  font-size: 2.5em;
  color: #ffffff; /* White text */
  text-shadow: 0 0 10px #ffffff; /* White glow effect */
}

.chart-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chart-container h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffffff; /* White text */
  text-shadow: 0 0 5px #ffffff; /* White glow effect */
}

.chart-container canvas {
  max-width: 100%;
  flex: 1;
  background-color: #2e2e2e; /* Gray background */
  border: 2px solid #ffffff; /* White border */
  box-shadow: 0 0 20px #ffffff; /* White glow effect */
}

p {
  color: #ffffff; /* White text */
}

a {
  color: #ffffff; /* White text */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
