@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: #2e2e2e;
  color: #16887e;
  font-family: 'Bebas Neue', sans-serif;
}
